# /usr/lib/systemd/system/tomcat.service
[Unit]
Description=A tomcat systemd service
Requires=network.target
After=network.target

[Service]
Type=forking
PrivateTmp=yes
ExecStart=/usr/local/bin/start_tomcat
ExecStop=/usr/local/bin/stop_tomcat
User=tomcat
Group=tomcat
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
