[Unit]
Description=Mount file for iscsi mirrored disk share
Requires=systemd-udevd.service
After=systemd-udevd.service

[Mount]
What=/dev/mapper/data_encrypted
Where=/mnt/data_encrypted/
Type=xfs
Options=rw,defaults,nosuid,nodev
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
