<!DOCTYPE html>
<html lang="fr">
<head>
    <title>DUMMY-APACHE</title>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.ico"/>
    <meta name="author" content="shijuro"/>
    <meta name="keywords" content="html5 css3 js"/>
    <meta name="description" content="dummy web page"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>
<body>
    <header>
    <nav>
    	<ul>
    		<li><a href="#" value="">HOME</a></li>
    		<li><a href="#" value="">DOWNLOADS</a></li>
    		<li><a href="#" value="">DOMOTIC</a></li>
    	</ul>
    </nav>
    </header>
    <section>
        <div class="hero-box">
          	<div class="form">
              	<form method="GET" action="#" enctype="application/x-www-form-urlencoded">
              	<legend>MAILING LIST</legend>
              	<label for="nom">NOM </label><br> <input type="text" size=28 name="nom" id="nom" pattern="[a-zA-Z0-9]{3,}" required><br>
              	<label for="mail">MAIL</label><br> <input type="email" size=28 name="mail" id="mail" required><br>
              	<input type=submit name="submit" value="VALIDER">
              	</form>
          	</div>
        </div>
    </section>
    <footer></footer>
    <script src="js/bootstrap.bundle.min.js" type="cf67e128e6d48fee6fc31aa5-text/javascript"></script>
</body>
</html>
