<!DOCTYPE html>
<html lang="fr">
<head>
  <title>DUMMY-APACHE</title>
  <meta charset="utf-8" />
  <link rel="icon" href="favicon.ico"/>
  <meta name="author" content="shijuro"/>
  <meta name="keywords" content="html5 css3 js"/>
  <meta name="description" content="dummy web page"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>
<body>
<header></header>
<body>
  <section>
      <div class="hero-box">YOU FAILED TO AUTHENTICATE SIR</div>
  </section>
</body>
