dn: dc=vagrant-dummy-ops,dc=lab
objectClass: top
objectClass: domain
dc: vagrant-dummy-ops

dn: cn=admin,dc=vagrant-dummy-ops,dc=lab
objectClass: organizationalRole
cn: admin
description: Directory Manager
