dn: ou=it,dc=vagrant-dummy-ops,dc=lab
objectClass: organizationalUnit
ou: it

dn: ou=services,ou=it,dc=vagrant-dummy-ops,dc=lab
objectClass: organizationalUnit
ou: services

dn: ou=sysadmin,ou=it,dc=vagrant-dummy-ops,dc=lab
objectClass: organizationalUnit
ou: sysadmin

dn: ou=developer,ou=it,dc=vagrant-dummy-ops,dc=lab
objectClass: organizationalUnit
ou: developer

dn: ou=analyst,ou=it,dc=vagrant-dummy-ops,dc=lab
objectClass: organizationalUnit
ou: analyst

dn: ou=human-resources,dc=vagrant-dummy-ops,dc=lab
objectClass: organizationalUnit
ou: human-resources

dn: ou=accountancy,dc=vagrant-dummy-ops,dc=lab
objectClass: organizationalUnit
ou: accountancy
