dn: cn=sysadmin,ou=it,dc=vagrant-dummy-ops,dc=lab
objectClass: posixGroup
cn: sysadmin
gidNumber: 10000

dn: cn=developer,ou=it,dc=vagrant-dummy-ops,dc=lab
objectClass: posixGroup
cn: developer
gidNumber: 20000

dn: cn=analyst,ou=it,dc=vagrant-dummy-ops,dc=lab
objectClass: posixGroup
cn: analyst
gidNumber: 30000

dn: cn=human-resources,ou=human-resources,dc=vagrant-dummy-ops,dc=lab
objectClass: posixGroup
cn: human-resources
gidNumber: 40000

dn: cn=accountancy,ou=accountancy,dc=vagrant-dummy-ops,dc=lab
objectClass: posixGroup
cn: accountancy
gidNumber: 50000
