dn: cn=sysadmin,ou=it,dc=vagrant-dummy-ops,dc=lab
changetype: modify
add: memberUid
memberUid: boris
memberUid: john

-
dn: cn=developer,ou=it,dc=vagrant-dummy-ops,dc=lab
changetype: modify
add: memberUid
memberUid: donald
memberUid: daisy

-
dn: cn=analyst,ou=it,dc=vagrant-dummy-ops,dc=lab
changetype: modify
add: memberUid
memberUid: loulou
memberUid: fifi
