dn: cn=sysadmin,ou=it,dc=vagrant-dummy-ops,dc=lab
changetype: modify
delete: memberUid

dn: cn=developer,ou=it,dc=vagrant-dummy-ops,dc=lab
changetype: modify
delete: memberUid

dn: cn=analyst,ou=it,dc=vagrant-dummy-ops,dc=lab
changetype: modify
delete: memberUid
