[req]
distinguished_name = req_distinguished_name
req_extensions = v3_ca
prompt = no

[req_distinguished_name]
C = FR
L = PARIS
ST = IDF
O = DUMMY_OPS_TEAM
OU = DUMMY_DEV_TEAM
CN = ca.vagrant-dummy-ops.lab
emailAddress = shijuro@dovecot.vagrant-dummy-ops.lab

[v3_ca]
keyUsage = cRLSign, keyCertSign
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = critical, CA:true
