[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
C = FR
L = PARIS
ST = IDF
O = DUMMY_OPS_TEAM
OU = DUMMY_DEV_TEAM
CN = nginx.vagrant-dummy-ops.lab
emailAddress = shijuro@dovecot.vagrant-dummy-ops.lab

[req_ext]
basicConstraints = CA:FALSE
subjectAltName = @alt_names

[alt_names]
DNS.1 = nginx.vagrant-dummy-ops.lab
DNS.2 = *.nginx.vagrant-dummy-ops.lab
